body{
    background-color: goldenrod;
}
#score{
    font-size: 25px;
    margin-left: 20px;
}
#timer{
    font-size: 25px;
    float: right;
    margin-right: 10px;
}
#sketch_drawn{
    color: red;
    font-size: 30px;
}